@media (max-width:1100px){
    .section_text{
        font-size: 3rem;
    }
}
@media (max-width:830px){
    header{
        padding: 0;
    }
    .section1{
        height: 450px;
    }
    .section1_div{
        padding: 14px 15px 9px 15px;
    }
    .section1_title{
        font-size: 1.25rem;
        margin-bottom: 17px;
    }
    .section1_text{
        font-size: 1.25rem;
    }
    article{
        padding: 46px 0 46px 0;
    }
    .card{
        width: 40%;
        padding: 22px 18px 12px 18px;
    }
    .section2{
        padding: 40px 0 40px 0;
    }
    .info_title{
        font-size: 1rem;
    }
    .info_text{
        font-size: 1rem;
    }
    .form_label{
        font-size: 1.25rem;
    }
}

@media (max-width:780px) {

    /* header */
    header {
        padding: 0;
    }

    .header_logo {
        width: 140px;
        font-size: 1.5rem;
    }

    ul {
        gap: 30px;
    }

    li a {
        font-size: 1.25rem;
    }

    .fa-cart-shopping {
        font-size: 1.25rem;
        padding-right: 4px;
    }
    .fa-bars{
        display: none;
    }
    /* section */
    .section1 {
        height: 450px;
    }

    .section_text {
        font-size: 3rem;
    }

    /* sectiondiv */
    .section1_div {
        padding: 14px 15px 9px 15px;
    }

    .section1_title {
        font-size: 1.25rem;
        margin-bottom: 17px;
    }

    .section1_text {
        font-size: 1rem;
    }

    /* article */
    article {
        padding: 46px 0 46px 0;
    }

    .article_title {
        margin-bottom: 92px;
    }

    .card {
        width: 40%;
        padding: 22px 18px 12px 18px;
    }

    .card_img {
        margin-bottom: 27px;
    }

    .card_text {
        font-size: 1.5rem;
    }

    .card:nth-child(4) {
        display: none;
    }

    .card:nth-child(5) {
        display: none;
    }

    /* section2 */
    .section2 {
        padding: 40px 0 40px 0;
    }

    .div_box {
        padding: 24px 20px 36px 20px;
    }
    .Phone_div,
    .Email_div,
    .Location_div{
        display: flex;
        gap: 22px;
    }
    .Email_div{
        margin-top: 97px;
        margin-bottom: 97px;
    }
    .icons{
        font-size: 2rem;
    }
    .info_title{
        font-size: 1rem;
    }
    .info_text{
        font-size: 1rem;
    }
    .form_label{
        font-size: 1.25rem;
    }
    /* textarea */
    #About {
        width: 90%;
        height: 103px;
        margin-top: 39px;
        margin-bottom: 48px;
    }
    textarea::placeholder {
        font-size: 1rem;
    }
    button {
        width: 50%;
        height: 65px;
    }

    /* footer */
    footer {
        padding: 57px 21px;
    }

    .footer_icons {
        gap: 21px;
    }

    .footer_text {
        display: none;
    }
}