@media(max-width:780px) {
    .container {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding-top: 90px;
    }

    /* header */
    header {
        padding: 0;
    }
    ul {
        gap: 30px;
    }
    li a {
        font-size: 1.25rem;
    }
    .fa-cart-shopping {
        font-size: 1.25rem;
        padding-right: 4px;
    }
    /* section */
    .section1 {
        height: 450px;
    }
    .section_text {
        font-size: 3rem;
    }
    /* sectiondiv */
    .section1_div {
        padding: 14px 15px 9px 15px;
    }
    .section1_title {
        font-size: 1.25rem;
    }
    .section1_text {
        font-size: 1rem;
    }
    /* article */
    article {
        padding: 46px 0 46px 0;
    }
    .article_title {
        margin-bottom: 92px;
    }
    .card {
        width: 40%;
        padding: 22px 18px 12px 18px;
    }
    .card_img {
        margin-bottom: 27px;
    }
    .card_text {
        font-size: 1.5rem;
    }
    .card:nth-child(4) {
        display: none;
    }
    .card:nth-child(5) {
        display: none;
    }
    .section2 {
        padding: 40px 0 40px 0;
    }
    .div_box {
        height: 370px;
        padding: 0 20px 0 20px;
    }
    .First_div {
        width: 35%;
    }
    .Phone_div,
    .Email_div,
    .Location_div {
        width: 100%;
        padding: 24px 0 36px 0;
        display: flex;
        align-items: center;
        gap: 32px;
    }
    .fa-phone,
    .fa-envelope,
    .fa-location-dot {
        font-size: 1.5rem;
        color: red;
    }
    .phone_title,
    .Email_title,
    .location_title {
        font-size: 1.5rem;
        color: #623932;
    }
    .phone_text,
    .Email_text,
    .location_text {
        font-size: 1rem;
    }
    /* form */
    form{
        width: 50%;
        margin-left: 131px;
        padding-top: 24px;
        padding-bottom: 36px;
    }
    .First_line {
        gap: 29px;
        /* margin-bottom: 66px; */
    }
    .form_label{
        font-size: 1.25rem;
    }
    .form_div{
        margin-bottom: 39px;
    }
    /* textarea */
    #About {
        width: 90%;
        height: 103px;
    }
    textarea::placeholder{
        font-size: 1rem;
    }
    button{
        margin-top: 48px;
        width: 202px;
        height: 65px;
    }
    /* footer */
    footer {
        padding: 57px 21px;
    }
    .footer_text {
        display: none;
    }
}